
.icon-bitbucket:before { content: '\e805'; } /* '' */
.icon-data-science-inv:before { content: '\e804'; } /* '' */
.icon-mail-alt:before { content: '\e801'; } /* '' */
.icon-github:before { content: '\e802'; } /* '' */
.icon-twitter:before { content: '\e800'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */