@(postViews: Page[PostView], message: String = "", recentPosts: List[(Int, String)])

@index("Welcome!", "blog", "") {
	
	@if(message != ""){
	    <h1 class = "header-message">
	 		   @message
	    </h1>
	}
	@postViews.items.map { postView =>
		<article>
			<h2>
				<a href="@routes.BlogController.post(postView.post.id.get, postView.post.title.replace(" ", "-"))">
					@postView.post.title
				<a>
			</h2>
			<footer>
				<span class = "muted"> Posted on </span> 
				<time datetime="@postView.post.cdate">@postView.post.cdate.format("MMMMMMMMMM, dd yyyy")</time>
				@if((postView.post.cdate.getTime() - postView.post.mdate.getTime()) != 0){
					<span class = "muted"> Updated on </span>
					<time datetime="@postView.post.mdate">@postView.post.mdate.format("MMMMMMMMMM, dd yyyy")</time>
				}
			</footer>
		</article>
		<hr>
	}
}{

	@leftPanel(recentPosts)
}