@* lefPanel Template File *@
@(recentPosts: List[(Int, String)])

<section class="well">
		<ul id="recent_posts" class="nav nav-list">
			<li class="nav-header">Recent Posts</li>
			@recentPosts.map { case (id, title) =>
				<li class="post_title">
					<a href="@routes.BlogController.post(id, title.replace(" ", "-"))">@title</a>
				</li>
			}
		</ul>
</section>
<section class="well">
<a class="twitter-timeline" height="350" data-tweet-limit="3" data-chrome="noscrollbar nofooter transparent" href="https://twitter.com/TsendeeMTS" data-widget-id="332763829354242048">Tweets by @@TsendeeMTS</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</section>