@index("Welcome!", "me") {

	<div class="well span4">
		<p>
			I am Tsendsuren Munkhdalai, a Mongolian guy and a first year Ph.D. student. I got a BSc in Computer Science from Mongolian National University, Mongolia and a MSc at Database and Bioinformatics Laboratory, Chungbuk National University, South Korea.
		</p>
		<p>
			I am interested in modern database systems, machine learning and data mining, specially information extraction and text mining. My BS thesis is all about a point of sale system with product sales forecasting based on regression analysis (a swing application backed by MySQL). The MS thesis goes around text mining and machine learning by introducing biomedical named entity recognition methods. Currently I am reading papers from the fields of active learning, semi-supervised learning, and document clustering.
		</p>
		<p>
			I have several years of experience in programming with java (EE), including swing, JSF, EJB, and JPA, and have been playing with Scala, Python, and R. I got the opportunity to try data processing tools like Mahout, Scikit-learn, Weka, and Opencv (Javacv), NoSQL DBs including MongoDB and Redis, indexing technologies such as Apache Solr and Lucene, and some other systems for pipelines of document processing.
		</p>
		<p>
			I would like to do a few sport activities frequently: swimming, soccer, and bodybuilding. I also like to have a beer while playing pool and discussing ideas and technology.
		</p>
		
	</div>
	<div class="well span4">
		<h2>Contact </h2>
		<ul class="unstyled">
			<li id="email-address">
				<a href="mailto:hey@@tsendeemts.com"><i class="icon-mail-alt"></i>   hey@@tsendeemts.com</a>
			</li>
			<li id="twitter-id">
				<a href="http://twitter.com/tsendeemts"><i class="icon-twitter"></i>   on twitter</a>
			</li>
			<li id="kaggle-id">
				<a href="http://www.kaggle.com/users/32542/tsendee"><i class="icon-data-science-inv"></i>   on kaggle</a>
			</li>
			<li id="linkedin-id">
				<a href="#"><i class="icon-linkedin"></i></i>   LinkedIn</a>
			</li>
			<li id="github-id">
				<a href="#"><i class="icon-github"></i></i>    on github</a> 
			</li>
			<li id="bitbucket-id">
				<a href="https://bitbucket.org/tsendeemts"><i class="icon-bitbucket"></i></i>    on bitbucket</a>
			</li>
		</ul>	
	</div>

	<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/fontello-e1914881/css/fontello.css")">
}{

}