@(postViews: Page[PostView], currentFilter: String = "", message: String = "", recentPosts: List[(Int, String)])


@index("Welcome!", "blog", currentFilter) {
	
	@if(message != ""){
	    <h1 class = "header-message">
	 		   @message
	    </h1>
	}
	@postViews.items.map { postView =>
		@blog.post(postView)
	}
	<ul class = "pager">
	    @postViews.next.map { page =>
	        <li class="previous">
	            <a href="@routes.BlogController.blogPage(page, currentFilter)">&larr; Older</a>
	        </li> 
	    }.getOrElse {
	        <li class="previous disabled">
	            <a>&larr; Older</a>
	        </li>
	    }
	    @postViews.prev.map { page =>
	        <li class="next">
	            <a href="@if(page > 0){
	            	@routes.BlogController.blogPage(page, currentFilter)
				}else{
					@routes.BlogController.blog(page, currentFilter)
				}">Newer &rarr;</a>
	        </li> 
	    }.getOrElse {
	        <li class="next disabled">
	            <a>Newer &rarr;</a>
	        </li>
	    }
	</ul>
}{

	@leftPanel(recentPosts)
}