@(postView: PostView)

<article>
	<h2><a href="@routes.BlogController.post(postView.post.id.get, postView.post.title.replace(" ", "-"))">@postView.post.title<a></h2>
	@blog.postBody(postView)
</article>