@(postView: PostView)

<footer> 
	<span class = "muted"> Posted on </span> 
	<time datetime="@postView.post.cdate">@postView.post.cdate.format("MMMMMMMMMM, dd yyyy")</time>
	@if((postView.post.cdate.getTime() - postView.post.mdate.getTime()) != 0){
		<span class = "muted"> Updated on </span>
		<time datetime="@postView.post.mdate">@postView.post.mdate.format("MMMMMMMMMM, dd yyyy")</time>
	}
	<span class = "muted"> By </span> 
	<a href="@routes.BlogController.postByAuthor(postView.user._1.toInt, postView.user._2)" title="@(postView.user._2)'s posts">@postView.user._2</a>
	<span> | </span>
	<a href = "#disqus_thread">Comments</a>
	
</footer>
<p>@Html(postView.post.contents)</p>
<footer>
	<span class = "muted">Labels: </span>
	@postView.categories.map { category =>
		<a href="@routes.BlogController.postByLabel(category.id.get, category.cname.replace(" ", "-"))" title="See the posts under @category.cname">@category.cname</a>
		&nbsp;&nbsp;
	}
</footer>
<hr>