@(categoryForm: Form[Category], idnames: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@control("Admin panel - categories", "categories") {
    
    <h1>Add a Category</h1>
    
    @form(routes.Application.savecategory(), 'class -> "form-horizontal well") {
        
        <fieldset>
            <legend>Category information</legend>

            @inputText(categoryForm("cname"), 
                '_label -> "Category name"
            )
            @select(
                categoryForm("pid"), 
                idnames, 
                '_label -> "Parent category", '_default -> "-- Choose a category --",
                '_showConstraints -> false
            )   

            <div class="form-actions">
                <input type="submit" value="Register" class="btn btn-primary"> or 
                <a href="@routes.Application.categories()" class="btn">Cancel</a> 
            </div>

        </fieldset>
    }
    
}
