@(currentPage: Page[Category], currentOrderBy: Int, currentFilter: String, idnames: Map[String, String])(implicit flash: play.api.mvc.Flash)



@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.categories(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@control("Admin panel - categories", "categories") {
    
    <h1>@Messages("categories.list.title")</h1>

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Application.categories()) {
            <input type="search" class="input-medium search-query" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by category...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn">
        }
        
        <a class="btn btn-success" id="add" href="@routes.Application.createcategory()">Add a category</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { categories =>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    @header(1, "Category name")
                    @header(2, "Parent name")
                </tr>
            </thead>
            <tbody>
                @categories.map { 
                    case (category) => {
                        <tr>
                            <td><a href="@routes.Application.editcategory(category.id.toList.head)">@category.cname</a></td>
                            <td><a href="@routes.Application.editcategory(category.id.toList.head)">
                            	@idnames.getOrElse(category.pid.getOrElse(0).toString, "-")
                            	@*@category.map(_.pid).getOrElse { <em>-</em> }**@
                            </a></td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + categories.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}