@(title: String="Admin panel", nav: String = "posts")(content: Html)

@main("Admin panel") {
    
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                      <li class="nav-header">List header</li>
                      <li class="@("active".when(nav == "posts"))">
                      <a href="@routes.PostController.posts()"><i class="@("icon-white".when(nav == "posts")) icon-home"></i>Posts</a></li>
                      <li class="@("active".when(nav == "users"))">
                      <a href="@routes.Application.users()"><i class="@("icon-white".when(nav == "users")) icon-user"></i>Users</a></li>
                      <li class="@("active".when(nav == "categories"))">
                      <a href="@(routes.Application.categories())"><i class="@("icon-white".when(nav == "categories")) icon-file"></i>Categories</a></li>
                      <li class="@("active".when(nav == "comments"))">
                      <a href="@(routes.Application.comments())"><i class="@("icon-white".when(nav == "comments")) icon-comment"></i>Comments</a></li>
                      <a href="@(controllers.security.routes.LoginController.logout)"><i class="@("icon-white".when(nav == "logout")) icon-comment"></i>Logout</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          
          @content
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div><!--/.fluid-container-->
    
}