@* notFound Template File *@
@(title: String, detail: String)

@main(title){

	<h3>@title</h3>
	<p>@detail</p>
	

    <script type="text/javascript">
    	$(document).ready(function() {

    		setTimeout("location.href = '/';", 3000);

		});
    </script>
}