@**********************************
* Helper generating table headers *
**********************************
@(orderBy: Int, title: String, currentOrderBy: Int)

<th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
</th>*@