@(title: String="Admin panel", nav: String = "blog", currentFilter: String = "")(content: Html)(lefpane: Html)

@main(title) {
    <div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	      <a class="brand" href="/">TsendeeMTS</a>
        <ul class = "nav pull-right">
          <li>
            <a href="@routes.BlogController.archive()">ARCHIVE</a>
          </li>
          <li class="divider-vertical pull-right"></li>
          <form class="navbar-search" action="@routes.BlogController.blogPage(page = 0)">
            <input type="text" class="search-query span2" placeholder="Search" id="searchbox" name="f" value="@currentFilter">
          </form>
        </ul>
	    </div>
	  </div>
	</div>
    <div class="container">
      <div class="row-fluid">
        <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
                      <li class="@("active".when(nav == "blog"))">
                      <a href="@routes.BlogController.blog()"><i class="@("icon-white".when(nav == "blog")) icon-home"></i>Blog</a></li>
                      <li class="@("active".when(nav == "publications"))">
                      <a href="@routes.BlogController.publications()"><i class="@("icon-white".when(nav == "publications")) icon-user"></i>Publications</a></li>
                      <li class="@("active".when(nav == "srccode"))">
                      <a href="@(routes.BlogController.srccode())"><i class="@("icon-white".when(nav == "srccode")) icon-file"></i>Source code</a></li>
                      <li class="@("active".when(nav == "me"))">
                      <a href="@(routes.BlogController.me())"><i class="@("icon-white".when(nav == "me")) icon-comment"></i>Me</a></li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span7">
          <section>
            @content
          </section>
        </div><!--/span-->
        <div class="span3">
          <aside>
            @lefpane
          </aside>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

	      <footer class = "footer centered-text">
	        <p>Copyright &copy; 2013 by Tsendsuren Munkhdalai</p>
	      </footer>
	      

    </div><!--/.fluid-container-->
    
}
