@* login Template File *@
@(loginForm: Form[Option[User]])(implicit flash: Flash)

@main("Loging"){

	<div class="block" style="height: 400px;">
		<div class="centered">
			  @helper.form(controllers.security.routes.LoginController.authenticate, 'class -> "well form-inline") {
			
			    <h6>Sign in</h6>
			    
				@flash.get("success").map { message =>
			        
			    }
			
			    @loginForm.globalError.map { error =>
			    	<div class="alert alert-error">
			            @error.message
			        </div>
			    }
			
			    @flash.get("success").map { message =>
			    	<div class="alert alert-success">
			            @message
			        </div>
			    }
			
			      <input type="email" class="input-small" name="email" placeholder="Email" id="email" value="@loginForm("email").value">
			      <input type="password" class="input-small" name="password" id="password" placeholder="Password">
			      <button type="submit" class = "btn-small btn-primary" id="btn">Login</button>
			
			  }
	  	</div>
	</div>

}