@(postForm: Form[PostEntry], categories: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@control("Admin panel - posts", "posts") {
    
    <h1>Add a Post</h1>
    
    @form(routes.PostController.save(), 'class -> "form-vertical well") {
        
        <fieldset>
            <legend>Information</legend>

            @inputText(postForm("title"), 
                '_label -> "Title"
            )

            @textarea(postForm("contents"), '_label -> "Contents", 'class -> "ckeditor")

            @inputText(
                postForm("label"), 
                '_label -> "Labels",
                '_help -> "Multi-labels separated by comma"
            )

            @multiselect(
                postForm("categories"),
                categories,
                '_label -> "Categories"
            )

            @checkbox(
                postForm("draft"),
                '_label -> "draft",
                '_help -> "Draft?"
            )
            
            <div class="form-actions">
                <input type="submit" value="Register" class="btn btn-primary"> or 
                <a href="@routes.PostController.posts()" class="btn">Cancel</a> 
            </div>

        </fieldset>
    }



    <script type="text/javascript" src="@routes.Assets.at("ckeditor/ckeditor.js")"></script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#categories').multiselect();
        });
    </script
}
