@(currentPage: Page[Post], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)



@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.PostController.posts(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@control("Admin panel - posts", "posts") {
    
    <h1>@Messages("posts.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.PostController.posts()) {
            <input type="search" class="input-medium search-query" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by title...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn">
        }
        
        <a class="btn btn-success" id="add" href="@routes.PostController.create()">Add a new post</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { posts =>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    @header(1, "ID")
                    @header(2, "Title")
                    @header(5, "Created date")
                    @header(6, "Modified date")
                    @header(7, "Labels")
                    @header(8, "Draft")
                </tr>
            </thead>
            <tbody>
                @posts.map { 
                    case (post) => {
                        <tr>
                            <td><a href="@routes.PostController.edit(post.id.toList.head)">@post.id</a></td>
                            <td><a href="@routes.PostController.edit(post.id.toList.head)">@post.title</a></td>
                            <td><a href="@routes.PostController.edit(post.id.toList.head)">
                                <time datetime="@post.cdate">@post.cdate.format("MMM dd yyyy")</time>
                            </a></td>
                            <td><a href="@routes.PostController.edit(post.id.toList.head)">
                                <time datetime="@post.mdate">@post.mdate.format("MMM dd yyyy")</time>
                            </a></td>
                            <td><a href="@routes.PostController.edit(post.id.toList.head)">@post.label</a></td>
                            <td><a href="@routes.PostController.edit(post.id.toList.head)">
                                @if(post.draft){
                                    yes
                                }else{
                                    no
                                }
                            </a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + posts.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}