@(currentPage: Page[User], currentOrderBy: Int, currentFilter: String)(implicit flash: play.api.mvc.Flash)



@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage: Int, newOrderBy: Option[Int] = None) = @{
    routes.Application.users(newPage, newOrderBy.map { orderBy =>
        if(orderBy == scala.math.abs(currentOrderBy)) -currentOrderBy else orderBy
    }.getOrElse(currentOrderBy), currentFilter)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(orderBy: Int, title: String) = {
    <th class="col@orderBy header @if(scala.math.abs(currentOrderBy) == orderBy) @{if(currentOrderBy < 0) "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, Some(orderBy))">@title</a>
    </th>
}

@control("Admin panel - users", "users") {
    
    <h1>@Messages("users.list.title", currentPage.total)</h1>

    @flash.get("success").map { message =>
        <div class="alert alert-success">
            <strong>Done!</strong> @message
        </div>
    }

    <div id="actions">
        
        @helper.form(action=routes.Application.users()) {
            <input type="search" class="input-medium search-query" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by first name...">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn">
        }
        
        <a class="btn btn-success" id="add" href="@routes.Application.createuser()">Add a new user</a>
        
    </div>
    
    @Option(currentPage.items).filterNot(_.isEmpty).map { users =>
        
        <table class="table table-striped">
            <thead>
                <tr>
                    @header(1, "First name")
                    @header(2, "Last name")
                    @header(3, "Username name")
                    @header(5, "display name")
                    @header(6, "Created date")
                    @header(7, "Email")
                </tr>
            </thead>
            <tbody>
                @users.map { 
                    case (user) => {
                        <tr>
                            <td><a href="@routes.Application.edituser(user.id.toList.head)">@user.fname</a></td>
                            <td><a href="@routes.Application.edituser(user.id.toList.head)">@user.lname</a></td>
                            <td><a href="@routes.Application.edituser(user.id.toList.head)">@user.uname</a></td>
                            <td><a href="@routes.Application.edituser(user.id.toList.head)">@user.dname</a></td>
                            <td><a href="@routes.Application.edituser(user.id.toList.head)">
                                <time datetime="@user.cdate">@user.cdate.format("MMM dd yyyy")</time>
                            </a></td>
                            <td><a href="@routes.Application.edituser(user.id.toList.head)">@user.email</a></td>
                        </tr>
                    }
                }

            </tbody>
        </table>

        <div id="pagination" class="pagination">
            <ul>
                @currentPage.prev.map { page =>
                    <li class="prev">
                        <a href="@link(page)">&larr; Previous</a>
                    </li> 
                }.getOrElse {
                    <li class="prev disabled">
                        <a>&larr; Previous</a>
                    </li>
                }
                <li class="current">
                    <a>Displaying @(currentPage.offset + 1) to @(currentPage.offset + users.size) of @currentPage.total</a>
                </li>
                @currentPage.next.map { page =>
                    <li class="next">
                        <a href="@link(page)">Next &rarr;</a>
                    </li> 
                }.getOrElse {
                    <li class="next disabled">
                        <a>Next &rarr;</a>
                    </li>
                }
            </ul>
        </div>
        
    }.getOrElse {
        
        <div class="well">
            <em>Nothing to display</em>
        </div>
        
    }

        
}