@(id: Int, userForm: Form[User])(implicit flash: play.api.mvc.Flash)

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@control("Admin panel - users", "users") {
    
    <h1>Edit a User</h1>

    @flash.get("error").map { message =>
        <div class="alert alert-error">
            @flash
        </div>
    }
    @form(routes.Application.updateuser(id), 'class -> "form-horizontal well") {
        
        <fieldset>
            <legend>Account informations</legend>

            @inputText(userForm("fname"), 
                '_label -> "First name"
            )

            @inputText(userForm("lname"), '_label -> "Last name")
            @inputText(userForm("uname"), '_label -> "User name")
            @inputText(userForm("dname"), '_label -> "Display name")
            @inputText(userForm("email"), '_label -> "Email")

            <div class="form-actions">
                <input type="submit" value="Register" class="btn btn-primary"> or 
                <a href="@routes.Application.users()" class="btn">Cancel</a>
            </div>

        </fieldset>
    }

    
    @form(routes.Application.deleteuser(id), 'class -> "topRight") {
        <input type="submit" value="Delete" class="btn btn-danger">
    }
    
}
