@(userForm: Form[User])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@control("Admin panel - users", "users") {
    
    <h1>Add a User</h1>
    
    @form(routes.Application.saveuser(), 'class -> "form-horizontal well") {
        
        <fieldset>
            <legend>User information</legend>

            @inputText(userForm("fname"), 
                '_label -> "First name"
            )

            @inputText(userForm("lname"), '_label -> "Last name")
            @inputText(userForm("uname"), '_label -> "User name")
            @inputPassword(
                userForm("pass.main"), 
                '_label -> "Password",
                '_help -> "A password must be at least 6 characters. "
            )
            @inputPassword(
                userForm("pass.confirm"), 
                '_label -> "Repeat password",
                '_help -> "Please repeat your password again."
            )
            @inputText(userForm("dname"), '_label -> "Display name")
            @inputText(userForm("email"), '_label -> "Email")

            <div class="form-actions">
                <input type="submit" value="Register" class="btn btn-primary"> or 
                <a href="@routes.Application.users()" class="btn">Cancel</a> 
            </div>

        </fieldset>
    }
    
}
